---
- name: IAS health check
  hosts: ias_nodes
  gather_facts: false
  become: true
  become_method: sudo
  become_user: root
  vars_files:
    - ../group_vars/all/vault.yml

  tasks:
    - name: Show which SSH user AWX is using
      ansible.builtin.debug:
        var: ansible_user

    - name: Show uptime
      ansible.builtin.command: uptime
      register: uptime_result

    - name: Show uptime result
      ansible.builtin.debug:
        var: uptime_result.stdout


    #################################################################
    # MicroK8s STATUS (clean, simple: running / not running)
    #################################################################
    - name: microk8s status
      ansible.builtin.command: microk8s status
      register: microk8s_status
      failed_when: false

    - name: Extract simple MicroK8s running status
      ansible.builtin.set_fact:
        microk8s_simple_status: >-
          {{ 'running' if 'microk8s is running' in microk8s_status.stdout
             else 'not running' }}

    - name: Show MicroK8s simple status
      ansible.builtin.debug:
        msg: "MicroK8s is {{ microk8s_simple_status }}"


    #################################################################
    # MicroK8s VERSION
    #################################################################
    - name: microk8s version
      ansible.builtin.command: microk8s kubectl version
      register: microk8s_version
      failed_when: false

    - name: Show microk8s version
      ansible.builtin.debug:
        var: microk8s_version.stdout_lines

    #################################################################
    # Check resources
    #################################################################

    - name: Check CPU usage
      ansible.builtin.shell: |
        top -bn1 | grep "Cpu(s)" | awk '{print "CPU Usage: " 100 - $8 "%"}'
      register: cpu_usage

    - name: Show CPU usage
      ansible.builtin.debug:
        var: cpu_usage.stdout

    - name: Check RAM usage
      ansible.builtin.command: free -h
      register: ram_usage

    - name: Show RAM usage
      ansible.builtin.debug:
        var: ram_usage.stdout_lines

    - name: Check disk space
      ansible.builtin.command: df -h / /data/elastic01 /kube /var/log
      register: disk_usage
      failed_when: false

    - name: Show disk space
      ansible.builtin.debug:
        var: disk_usage.stdout_lines

    #################################################################
    # Kubernetes pods
    #################################################################
    - name: kubectl get pods -A
      ansible.builtin.command: kubectl get pods -A
      register: pods

    - name: Show pods
      ansible.builtin.debug:
        var: pods.stdout_lines
