---
- name: IAS health check
  hosts: ias_nodes
  gather_facts: false
  become: true
  become_method: sudo

  tasks:
    - name: Show which SSH user AWX is using
      ansible.builtin.debug:
        var: ansible_user

    - name: Show uptime
      ansible.builtin.command: uptime
      register: uptime_result

    - name: Show uptime result
      ansible.builtin.debug:
        var: uptime_result.stdout

    - name: microk8s status
      ansible.builtin.command: microk8s status
      register: microk8s_status
      failed_when: false

    - name: Show microk8s status
      ansible.builtin.debug:
        var: microk8s_status.stdout_lines

    - name: microk8s version
      ansible.builtin.command: microk8s version
      register: microk8s_version

    - name: Show microk8s version
      ansible.builtin.debug:
        var: microk8s_version.stdout_lines

    - name: kubectl get pods -A
      ansible.builtin.command: kubectl get pods -A
      register: pods

    - name: Show pods
      ansible.builtin.debug:
        var: pods.stdout_lines
